<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Murad's Personal Site</title>
    <link rel="stylesheet" href="static/style.css">
  </head>

  <body>
    <table cellspacing="20">
      <tr>
        <td><img src="static/flower.png" alt="murad profile picture"></td>
        <td><h1>Murad ul Alam</h1>
        <p><em>Lorem ipsum dolor sit amet
          Vestibulum finibus tincidunt fermentum</a></strong>.</em></p>
        <p>I am a Programmer
        </p></td>
      </tr>
    </table>
    <hr>
    <h3>Books</h3>
    <ul>
      <li>The Complete Java</li>
      <li>How design works</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2017-2020</td>
          <td>Lorem ipsum dolor sit amet</td>
        </tr>
        <tr>
          <td>2020-2021</td>
          <td>Lorem ipsum dolor sit amet</td>
        </tr>
        <tr>
          <td>2021-2022</td>
          <td>Lorem ipsum dolor sit amet</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tr>
        <td>Python Development</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Web Development</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Networking</td>
        <td>⭐️⭐️</td>
      </tr>
    </table>
    <hr>
    <a href="hobbies.html">My Hobbies</a>
    <a href="contact-me.html">Contact Me</a>
  </body>
</html>


